a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

.calories {
  font-size: 0.75em;
}

.calories span {
  font-size: 1.25em;
  font-weight: bolder;
}

img.icon {
  height: 1em;
  width: 1em;
}

.form__control {
  width: 100%;
  border: none;
  border: 1px solid #f9f9f9;
  background-color: #fbfbfb;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  outline: none;
  /* font: inherit; */
}

.form__control::placeholder {
  color: #906e84;
}

.form__control:focus,
.form__control:hover {
  border: 1px solid #fdb035;
}

.macros__data {
  margin-top: 0.75em;
  height: 3em;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.macros__data > * {
  flex: 0 0 50%;
}

.text__with__ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.test,
.test > * {
  border: 1px solid #aaa;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
