a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

.form__control {
  width: 100%;
  border: none;
  border: 1px solid #f9f9f9;
  background-color: #fbfbfb;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  outline: none;
  /* font: inherit; */
}

.form__control::placeholder {
  color: #906e84;
}

.form__control:focus,
.form__control:hover {
  border: 1px solid #fdb035;
}

.test,
.test > * {
  border: 1px solid #aaa;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
