#foodSection {
  max-width: 360px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

header.search {
  justify-content: space-between;
}

.search__form {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
}

header.search .logo {
  display: none;
  margin-left: 0.3rem;
}

.toggle__search__button {
  color: #fdb035;
}

.search__input {
  padding: 0 2em 0.25em 3em;
  max-width: 300px;
  flex: 1 1 auto;
  font: inherit;
  width: 100%;
}

.search__form.filled .search__input:invalid {
  background-color: rgb(255, 198, 198);
  border-bottom-color: rgb(255, 154, 154);
}

.search__form button[type="reset"] {
  top: 0;
  right: 0;
}

.toggle__search__button i:last-child,
button[type="reset"] i {
  font-size: 0.85rem;
}

/* TOGGLE SEARCH */
header.search.search__closed .logo {
  display: unset;
}

.search__closed .search__form {
  flex: 0 1 auto;
}
.search__closed .search__input {
  display: none;
}
