#homeSection {
  max-width: 360px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.15;
  color: #fdb035;
}

.copy {
  color: #906e84;
}

#homeSection .button {
  display: block;
  font-size: 1.15rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 66.66%;
}

.search__shortcut {
  margin-top: 1.25rem;
}

.profile__shortcut {
  margin-top: 0.6125rem;
}
