.button {
  text-align: center;
  padding: 0.375em 0.75em;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none; /* May not be accesible */
}

.button-filled {
  color: #232528;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

.button-primary {
  background-color: #fdb035;
}

.button i {
  margin-right: 0.375em;
}
