.loader {
  font-size: 4rem;
  color: #fdb035;
  display: flex;
  justify-content: center;
}

.loader i {
  animation: spinning 2s infinite linear;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}
